.navbar{
    height: 80px;
    
    .navbarWrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        

        .item{
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .navbarLeft{
            flex: 1;
            display: flex;
            align-items: center;
            gap: 25px;

            @media screen and (max-width: 1000px) {
                    display: none;
                }
        }
        .navbarCenter{
            flex: 1;
            font-size: 30px;
            letter-spacing: 2px;
        }
        .navbarRight{
            display: flex;
            align-items: center;
            gap: 25px;

            @media screen and (max-width: 1000px) {
                display: none;
              }

            .icons{
                display: flex;
                gap: 15px;
                color: #777;
                cursor: pointer;
            }

            .cartIcon{
                position: relative;;

                span{
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #2879fe;
                    color: white;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .mobile-icon {
            display: none;
        
            @media screen and (max-width: 1000px) {
                display: flex;
                font-size: 20px;
                cursor: pointer;
                color: #000;
            }
        }
    }
}

