.products{
    padding: 30px 50px;
    display: flex;

    .leftSection{
        flex: 1;
        position: sticky;
        height: 100%;
        top: 50px;

        .filterItem{
            margin-bottom: 50px;

            h2{
                font-weight: 400;
                margin-bottom: 20px;
            }

            .inputItem{
                margin-bottom: 10px;

                label{
                    margin-left: 10px;
                }
            }
        }
    }
    
    .rightSection{
        flex: 3;

        .categoryImage{
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;
        }
    }
}