.products{
    padding: 30px 50px;
    display: flex;

    .leftSection{
        flex: 1;
    }
    
    .rightSection{
        flex: 3;

        .categoryImage{
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;
        }
    }
}